.inform_subtitle {
  margin: 10px 0;
  padding: 5px 10px;
  font-size: 1.8rem;
  color: #333;
  font-weight: bold;
}

.sourceContent {
  padding: 4px 10px;
  font-size: 1.4rem;
}

.sourceDate {
  padding: 4px 10px;
  color: #969696
}

.sourcInform {
  margin-top: 10px;
  padding: 10px;
  text-align: left;
  line-height: 1.8;
  font-size: 1.7rem;
}

.sourcInform p {
  text-indent: 2em;
  text-align: left;
  color: #333;
}
