.listInformation_cont ul li{
    list-style: none;
    height: 35px;
    line-height: 35px;
  
}
.listInformation_cont ul li  span:nth-child(1){
   width:80px;
   display: block;
   float: left;
   position: absolute;
   top: 0px;
   left: 0px;
}
.listInformation_cont ul li  span:nth-child(2){
    width:80px;
    display: block;
    float: left;
    position: absolute;
    top: 0px;
    left: 50px;
 }
 .listInformation_cont ul li  span:nth-child(3){
    width:80px;
    display: block;
    float: left;
    position: absolute;
    top: 0px;
    left: 100px;
 }
 .listInformation_cont ul li  span:nth-child(4){
    width:80px;
    display: block;
    float: left;
    position: absolute;
    top: 0px;
    left: 150px;
 }
 .listInformation_cont ul li  span:nth-child(5){
    width:80px;
    display: block;
    float: left;
    position: absolute;
    top: 0px;
    left: 200px;
 }
 .listInformation_cont ul li  span:nth-child(6){
    width:80px;
    display: block;
    float: left;
    position: absolute;
    top: 0px;
    left: 250px;
 }