.zjzzHeader .toolbar-title {
  font-size: 1.6rem;
  margin-top: -10px;
}

.zijin-msg {
  background-color: #424857;
  color: #fff;
}

.zijin-zhu {
  padding: 10px 0 5px 10px;
  min-height: 50px;
}

.borderLeft {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #fff;
}

.borderright {
  font-size: 1.4rem;
  margin-left: 15px;
}

.zjzzNumber {
  margin-left: 25px;
}

.borderright p {
  margin-top: 2px;
}

.zijin-cash {
  font-size: 1.6rem;
  margin: 10px 0;
}

.link-btn ul li {
  width: 33.33%;
  border-bottom: 1px solid #f5f5f5;
  float: left;
  list-style: none;
}

.link-btn ul li p {
  margin: 6px auto;
  line-height: 1.6;
  color: #333333;
  font-size: 1.4rem;
  text-align: center;
}

.link-btn-icon {
  width: 50px;
  height: 50px;
  background-color: #69dbff;
  border-radius: 100%;
  margin: 10px auto 0;
}
