.swiper-slide img {
  width: 100%;
}

.zxContentP {
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 1.4rem;
  color: #74cb61;
  margin-top: -5px;
  background-color: #f2f2f2;    
}
